@keyframes updateAnimation {
  0% { background-color: #fefefe; }
  20% { background-color: #004488; }
  40% { background-color: #0362c2; }
  80% { background-color: #004488; }
  100% { background-color: #fefefe; }
}

.accordion .accordion-item {
  animation: updateAnimation 2s linear 1;
}